{% extends "layout.html" %}

{% block title %}ROL - MENU{% endblock %}

{% block content %}
  <div id="content">
    {% if resp != null %}
      <div class="counter_red" align="center">{{ resp }}</div>
    {% endif %}
    {# formulario para registro de usuario #}
    <form method="POST">
      <label for="">Rol:</label>
      <select name="new_rol" class="sel">
        {% for rol in roles %}
          <option value="{{ rol.ID }}">{{ rol.DESCRIPCION }}</option>
        {% else %}
          <option value="">Sin Opciones</option>
        {% endfor %}
      </select>
      <label for="">Menu:</label>
      <select name="new_menu" class="sel">
        {% for menu in menus %}
          <option value="{{ menu.ID }}">{{ menu.NOMBRE }}</option>
        {% else %}
          <option value="">Sin Opciones</option>
        {% endfor %}
      </select>
      <button type="submit" name="new_crear" value="Crear" class="btncito">
        Registrar
      </button>
    </form>
    <br>
    {{ component_render(grid) }}
  </div>
{% endblock %}