{% block navbar %}

<table width="100%">
  <tr>
    <td>
      {% if app.session.get('user').userrol is defined and
            app.session.get('user').userrol == 1 %}
        {# menu #}
        {% ui_button id="menuUsuarios"  label="USUARIOS" %}
        {% ui_menu trigger="#menuUsuarios"
             orientation="vertical"
             position={'my':"right top",'at':"left top"}
             triggerEvent="mouseenter" %}
          {% set Ousuarios = app.url_generator.generate('usuarios') %}
          {% menu_item label="Usuarios" onclick="location.href=algo" %}
          {% menu_item label="Roles" %}
          {% menu_item label="Menu" %}
          {% menu_item label="Rol-Menu" %}
        {% end_ui_menu %}

        {% ui_button id="menuBitacora"  label="BITACORA" %}
        {% ui_menu trigger="#menuBitacora"
             orientation="vertical"
             position={'my':"right top",'at':"left top"}
             triggerEvent="mouseenter" %}
          {% menu_item label="Tareas" %}

        {% end_ui_menu %}

        <a href="{{ app.url_generator.generate('usuarios') }}"
             class="btncito">USUARIOS</a>
        <a href="{{ app.url_generator.generate('roles') }}"
             class="btncito">ROLES</a>
        <a href="{{ app.url_generator.generate('menu') }}"
             class="btncito">MENU</a>
        <a href="{{ app.url_generator.generate('rolMenu') }}"
             class="btncito">ROL - MENU</a>
      {% endif %}
    </td>
    <td align="right">
      {% if app.session.get('user').username is defined %}
          <form role="logout" method="POST" action="{{ app.url_generator.generate('homepage') }}">
            <input type="hidden" name="logout[_username]" value="logout">
            <button type="submit" name="logout[_submit]" value="logout" class="btncito">
              {{ app.session.get('user').username|e }}
            </button>
          </form>
        {% else %}
          <form role="login" method="POST" action="{{ app.url_generator.generate('homepage') }}">
            <input type="text" name="login[_username]" class="boxito" placeholder="Usuario">
            <input type="password" name="login[_password]" class="boxito" placeholder="Password">
            <button type="submit" name="login[_submit]" value="login" class="btncito">Ingresar</button>
          </form>
        {% endif %}
    </td>
  </tr>
</table>
{% endblock navbar %}